<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg headerCF">
  	<h5 class="font-popular-light"><span  class="font-popular-medium">Election 2018</span> Campaign Finance</h5>
  	<h1>Money race is tight between Housley, Smith so far</h1>
  	<p class="byline">By C.J. Sinner &amp; Alan Palazzolo • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg mainCF">
    <nav>
      <ul>
        <li><a href="http://www.startribune.com/478334513">MN GOV</a></li>
        <li><a href="http://www.startribune.com/478994733">U.S. HOUSE</a></li>
        <li class="current"><a href="http://www.startribune.com/478994853">U.S. SENATE</a></li>
      </ul>
    </nav>

    <!-- RAISED -->

  	<section>
  		<h4>Special open seat looks tight</h4>
  		<p class="timestamp">April 16, 2018</p>
  		<p>At the end of 2017, Housley and Smith were within $5k of each other on fundraising.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span></p>
      </div>

      <% _.each(_.groupBy(senate, 'race'), senateRace => {%>
      <% let totalReceipts = _.sortBy(senateRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>

        <div class="eachDist">

      		<table class="raisedTable">
            <thead>
              <h5><%= senateRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="fundsRaised">Funds raised</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceReceipts = _.sortBy(senateRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>
              <% _.each(raceReceipts, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === 0 ? 'out' : '' %> <%= i > 2 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="fundsRaised">$<%= parseFloat(r.raisedDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.raisedDisplay || 0) / parseFloat(totalReceipts[0].raisedDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

      		<div class="key">
      			<p>(i) Incumbent</p>
      		</div>
        </div>
      <% }) %>
  	</section>

    <!-- /RAISED -->

    <!-- SPENDING -->

    <section>
  		<h4>Spending TKTK</h4>
  		<p class="timestamp">April 16, 2018</p>
  		<p>Spending ipsum dolor sin amet.</p>

      <% _.each(_.groupBy(senate, 'race'), senateRace => {%>
      <% let totalSpent = _.sortBy(senateRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
        <div class="eachDist">
          <h5><%= senateRace[0].race %></h5>

      		<table class="spentTable">
            <thead>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="spent">Total spent</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceSpent = _.sortBy(senateRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
              <% _.each(raceSpent, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === 0 ? 'out' : '' %> <%= i > 10 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="spent">$<%= parseFloat(r.spentDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.spentDisplay || 0) / parseFloat(totalSpent[0].spentDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

        </div>
      <% }) %>
  	</section>

    <!-- /SPENDING -->

    <!-- CASH -->

  	<section>
  		<h4>Cash holdings about even</h4>
  		<p class="timestamp">April 16, 2018</p>
  		<p>Smith spent a little bit more of her warchest than Housley had by year's end, but going into the first quarter of the year, they were still about neck and neck.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span></p>
      </div>

      <% _.each(_.groupBy(senate, 'race'), senateRace => {%>
      <% let raceCash = _.sortBy(senateRace, r => parseFloat(r.cashDisplay || 0)).reverse(); %>
        <div class="eachDist">
          <h5><%= senateRace[0].race %></h5>

      		<table class="cashTable">
            <thead>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="COH">Cash on hand</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% _.each(raceCash, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === 0 ? 'out' : '' %> <%= i > 10 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="COH">$<%= parseFloat(r.cashDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.cashDisplay || 0) / parseFloat(raceCash[0].cashDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

        </div>
      <% }) %>
  	</section>

    <!-- /CASH -->

  </div>
</div>
