<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg headerCF">
  	<h5 class="font-popular-light"><span  class="font-popular-medium">Election 2018</span> Campaign Finance</h5>
  	<h1>Rep. Tim Walz leads money race in bid for Minnesota governor</h1>
  	<p class="byline">By C.J. Sinner and Alan Palazzolo • <span>Star Tribune</span></p>
  	<!-- share -->
  </div>

  <div class="container-lg mainCF">
  	<!-- NAVIGATION -->
    <nav>
      <ul>
    		<li class="current"><a href="http://www.startribune.com/478334513">MN GOV</a></li>
        <li><a href="http://www.startribune.com/478994853">U.S. SENATE</a></li>
    		<li><a href="http://www.startribune.com/478994733">U.S. HOUSE</a></li>
      </ul>
  	</nav>

    <!-- LEAD IN TEXT -->
    <section>
      <p>Some lead in paragraph goes here.</p>
    </section>

    <!-- RAISED -->
  	<section>
  		<h4>Walz is winning fundraising race </h4>
  		<p class="timestamp">April 16, 2018</p>
  		<p>At the end of 2017, U.S. Rep. Tim Walz, currently representing Minnesota's first congressional district, had brought in more than twice as much as any other candidate in the governor's race. This figure includes any loans a candidate may have taken out.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyOut"></span> Dropped out</p>
      </div>

  		<table class="raisedTable">
        <thead>
    			<tr>
    				<th class="party"></th>
    				<th class="candName"></th>
    				<th class="fundsRaised">Total raised</th>
    				<th class="dataBar"></th>
    			</tr>
        </thead>

        <tbody>
          <% let govReceipts = _.sortBy(governor, g => parseFloat(g.raisedDisplay || 0)).reverse(); %>
          <% _.each(govReceipts, (g, i) => { %>
      			<tr class="<%= g.party %> <%= g.out === '1' ? 'out' : '' %> <%= i > 9 ? 'nest' : '' %>">
      				<td class="party"><span></span></td>
      				<td class="candName"><%= g.firstname %> <%= g.lastname %> <span></span></td>
      				<td class="fundsRaised">$<%= parseFloat(g.raisedDisplay || 0).toLocaleString() %></td>
      				<td class="dataBar">
                <% let w = parseFloat(g.raisedDisplay || 0) / parseFloat(govReceipts[0].raisedDisplay || 0) * 100 %>
                <span class="percentBar" style="width: <%= w %>%"></span>
              </td>
      			</tr>
          <% }) %>
        </tbody>
  		</table>

  		<div class="slideButton">
  			<button class="moreRaised"><span class="plus">+</span> Show more</button>
  			<button class="fewerRaised"><span class="minus">&minus;</span> Show fewer</button>
  		</div>

      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- /RAISED -->

    <!-- SPENT -->

    <section>
  		<h4>Spending TKTK</h4>
  		<p class="timestamp">April 16, 2018</p>
  		<p>Spending lorem ipsum dolor sin amet ...</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <table class="spentTable">
        <thead>
    			<tr>
    				<th class="party"></th>
    				<th class="candName"></th>
    				<th class="spent">Total spent</th>
    				<th class="dataBar"></th>
    			</tr>
        </thead>

        <tbody>
          <% let govSpent = _.sortBy(governor, g => parseFloat(g.spentDisplay || 0)).reverse(); %>
          <% _.each(govSpent, (g, i) => { %>
      			<tr class="<%= g.party %> <%= g.out === '1' ? 'out' : '' %> <%= i > 10 ? 'nest' : '' %>">
      				<td class="party"><span></span></td>
      				<td class="candName"><%= g.firstname %> <%= g.lastname %> <span></span></td>
      				<td class="spent">$<%= parseFloat(g.spentDisplay || 0).toLocaleString() %></td>
      				<td class="dataBar">
                <% let w = parseFloat(g.spentDisplay || 0) / parseFloat(govSpent[0].spentDisplay || 0) * 100 %>
                <span class="percentBar" style="width: <%= w %>%"></span>
              </td>
      			</tr>
          <% }) %>
        </tbody>
  		</table>

  		<div class="slideButton">
  			<button class="moreSpent"><span class="plus">+</span> Show more</button>
  			<button class="fewerSpent"><span class="minus">&minus;</span> Show fewer</button>
  		</div>

      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- /SPENT -->

    <!-- CASH -->

  	<section>
  		<h4>Cash rankings shuffle</h4>
  		<p class="timestamp">April 16, 2018</p>
  		<p>Republican Jeff Johnson, a Hennepin County Board member who ran for this position in 2014, had nearly as much cash in his war chest as State Auditor Rebecca Otto at the end of 2017.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <table class="cashTable">
        <thead>
    			<tr>
    				<th class="party"></th>
    				<th class="candName"></th>
    				<th class="COH">Cash on hand</th>
    				<th class="dataBar"></th>
    			</tr>
        </thead>

        <tbody>
          <% let govCash = _.sortBy(governor, g => parseFloat(g.cashDisplay || 0)).reverse(); %>
          <% _.each(govCash, (g, i) => { %>
      			<tr class="<%= g.party %> <%= g.out === '1' ? 'out' : '' %> <%= i > 10 ? 'nest' : '' %>">
      				<td class="party"><span></span></td>
      				<td class="candName"><%= g.firstname %> <%= g.lastname %> <span></span></td>
      				<td class="COH">$<%= parseFloat(g.cashDisplay || 0).toLocaleString() %></td>
      				<td class="dataBar">
                <% let w = parseFloat(g.cashDisplay || 0) / parseFloat(govCash[0].cashDisplay || 0) * 100 %>
                <span class="percentBar" style="width: <%= w %>%"></span>
              </td>
      			</tr>
          <% }) %>
        </tbody>
  		</table>

  		<div class="slideButton">
  			<button class="moreCash"><span class="plus">+</span> Show more</button>
  			<button class="fewerCash"><span class="minus">&minus;</span> Show fewer</button>
  		</div>

      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- /CASH -->

    <!-- FOOTER/SOURCES -->
    <footer>
      <p>Candidates who raised less than $1,000 in 2017 and also dropped out of the race, or ran for this office in a different cycle but still filed disclosure forms, are not listed.</p>
      <p>Source: <a href="https://cfb.mn.gov/reports-and-data/viewers/campaign-finance/districts-constitutional-offices/GOV/2018/">Minnesota Campaign Finance Board</a></p>
    </footer>
  </div>
</div>
