<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg headerCF">
  	<h5 class="font-popular-light"><span  class="font-popular-medium">Election 2018</span> Campaign Finance</h5>
  	<h1>In Senate races, Smith, Klobuchar fundraising juggernauts in full swing</h1>
  	<p class="byline">By C.J. Sinner and Alan Palazzolo • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg mainCF">
    <!-- NAVIGATION -->
    <nav>
      <ul>
        <li><a href="http://www.startribune.com/campaign-finance-2018-minnesota-governor-tim-walz-leads-money-race-tim-pawlenty-close-behind/478334513/">GOVERNOR</a></li>
        <li class="current"><a href="http://www.startribune.com/senate/478994853">U.S. SENATE</a></li>
        <li><a href="http://www.startribune.com/campaign-finance-2018-minnesota-us-house-congressional-races-among-nations-most-competitive-already-draw-millions/478994733/">U.S. HOUSE</a></li>
      </ul>
    </nav>

    <!-- LEAD IN CHATTER -->
    <section class="leadin">
      <p>It's rare to have two Senate seats on the ballot in a single year, but <a href="https://www.revisor.mn.gov/statutes/?id=204D.28" target="_blank" rel="noopener">the timing</a> of Sen. Al Franken's <a href="http://www.startribune.com/sen-al-franken-announces-he-is-resigning/462545273/" target="_blank" rel="noopener">resignation-amid-scandal</a> means that seat must go back to the voters in 2018 in addition to its regularly-scheduled 2020 election. It's one of the reasons Minnesota is a state to watch come November.</p>
      <p>Figures below reflect reports filed since Jan. 1, 2017. The next quarterly filing deadline is July 15, 2018.</p>
    </section>

    <!-- RAISED -->
  	<section>
  		<h4>Smith outraising Housley so far</h4>
  		<p class="timestamp">April 25, 2018</p>
  		<p>Sen. Tina Smith, a <a href="http://www.startribune.com/tina-smith-a-political-insider-steps-onto-the-national-stage/463986193/" target="_blank" rel="noopener">longtime political insider</a> in Minnesota and Gov. Mark Dayton's former lieutentant governor, was appointed to Franken's seat after he resigned and will fight to keep it. She has raised nearly three times as much as state Sen. Karin Housley, who has represented the St. Croix River Valley since 2012.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span></p>
      </div>

      <% _.each(_.groupBy(senate, 'race'), senateRace => {%>
      <% let totalReceipts = _.sortBy(senateRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>

        <div class="eachDist">

      		<table class="raisedTable">
            <thead>
              <h5><%= senateRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="fundsRaised">Total raised</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceReceipts = _.sortBy(senateRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>
              <% _.each(raceReceipts, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 2 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="fundsRaised">$<%= parseFloat(r.raisedDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.raisedDisplay || 0) / parseFloat(totalReceipts[0].raisedDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /RAISED -->

    <!-- SPENT -->
    <section>
  		<h4>Spending has yet to heat up</h4>
  		<p class="timestamp">April 25, 2018</p>
  		<p>Housley has spent less than half of what Smith has so far &mdash; but the race is young. State Rep. Jim Newberger, who is challenging Sen. Amy Klobuchar, has represented a St. Cloud-area district for six years.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span></p>
      </div>

      <% _.each(_.groupBy(senate, 'race'), senateRace => {%>
      <% let totalSpent = _.sortBy(senateRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
        <div class="eachDist">

      		<table class="spentTable">
            <thead>
              <h5><%= senateRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="spent">Total spent</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceSpent = _.sortBy(senateRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
              <% _.each(raceSpent, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 10 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="spent">$<%= parseFloat(r.spentDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.spentDisplay || 0) / parseFloat(totalSpent[0].spentDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /SPENT -->

    <!-- CASH -->

  	<section>
  		<h4>Klobuchar's millions buy her comfort</h4>
  		<p class="timestamp">April 25, 2018</p>
  		<p>Klobuchar's two-term incumbency, popularity and rising national profile means she has amassed a sizable war chest, <a href="https://www.opensecrets.org/overview/topraise.php?cycle=2018&view=topcash&display=A&memb=S" target="_blank" rel="noopener">ranking 20th</a> among all senators running for reelection this cycle. </p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span></p>
      </div>

      <% _.each(_.groupBy(senate, 'race'), senateRace => {%>
      <% let raceCash = _.sortBy(senateRace, r => parseFloat(r.cashDisplay || 0)).reverse(); %>
        <div class="eachDist">


      		<table class="cashTable">
            <thead>
              <h5><%= senateRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="COH">Cash on hand</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% _.each(raceCash, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 10 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="COH">$<%= parseFloat(r.cashDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.cashDisplay || 0) / parseFloat(raceCash[0].cashDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /CASH -->

    <!-- FOOTER/SOURCES -->
    <footer>
      <p>Note: Fundraising and spending totals reflect money raised and spent in 2017 and 2018. Candidates who raised less than $1,000 during this cycle are not included.</p>
      <p>Source: <a href="https://www.fec.gov/data/">U.S. Federal Election Commission</a></p>
    </footer>
  </div>
</div>
