<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg headerCF">
  	<h5 class="font-popular-light"><span  class="font-popular-medium">Election 2018</span> Campaign Finance</h5>
  	<h1>Walz leads money race in bid for governor, Pawlenty close behind</h1>
  	<p class="byline">By C.J. Sinner and Alan Palazzolo • <span>Star Tribune</span></p>
  	<!-- share -->
  </div>

  <div class="container-lg mainCF">
  	<!-- NAVIGATION -->
<!--     <nav>
      <ul>
    		<li class="current"><a href="http://www.startribune.com/478334513">GOVERNOR</a></li>
        <li><a href="http://www.startribune.com/478994853">U.S. SENATE</a></li>
    		<li><a href="http://www.startribune.com/478994733">U.S. HOUSE</a></li>
      </ul>
  	</nav> -->

    <!-- LEAD IN TEXT -->
    <section class="leadin">
      <p>First quarter reports for 2018 change the calculus in the race as former Gov. Tim Pawlenty quickly raised a large sum. Most candidates have spent more since the beginning of this campaign season, however, so Pawlenty has the largest war chest going into spring.</p>
    </section>

    <!-- RAISED -->
  	<section>
  		<h4>Pawlenty rockets to second</h4>
  		<p class="timestamp">April 17, 2018</p>
  		<p>The former governor only formed his campaign committee in March, but reported more than $1 million in fundraising in the first quarter of 2018. Still, U.S. Rep. Tim Walz has raised the most since the campaign cycle began at the start of 2017.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyOut"></span> Dropped out</p>
      </div>

  		<table class="raisedTable">
        <thead>
    			<tr>
    				<th class="party"></th>
    				<th class="candName"></th>
    				<th class="fundsRaised">Total raised</th>
    				<th class="dataBar"></th>
    			</tr>
        </thead>

        <tbody>
          <% let govReceipts = _.sortBy(governor, g => parseFloat(g.raisedDisplay || 0)).reverse(); %>
          <% _.each(govReceipts, (g, i) => { %>
      			<tr class="<%= g.party %> <%= g.out === '1' ? 'out' : '' %> <%= i > 9 ? 'nest' : '' %>">
      				<td class="party"><span></span></td>
      				<td class="candName"><%= g.firstname %> <%= g.lastname %> <span></span></td>
      				<td class="fundsRaised">$<%= parseFloat(g.raisedDisplay || 0).toLocaleString() %></td>
      				<td class="dataBar">
                <% let w = parseFloat(g.raisedDisplay || 0) / parseFloat(govReceipts[0].raisedDisplay || 0) * 100 %>
                <span class="percentBar" style="width: <%= w %>%"></span>
              </td>
      			</tr>
          <% }) %>
        </tbody>
  		</table>

  		<div class="slideButton">
  			<button class="moreRaised"><span class="plus">+</span> Show more</button>
  			<button class="fewerRaised"><span class="minus">&minus;</span> Show fewer</button>
  		</div>

      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- /RAISED -->

    <!-- SPENT -->

    <section>
  		<h4>Democrats lead campaign spending</h4>
  		<p class="timestamp">April 17, 2018</p>
  		<p>Since the start of 2017, most campaign funds have been spent by democrats. Former St. Paul Mayor Chris Coleman, who dropped out of the race in early 2018, appears to be spending down the funds he'd raised earlier in the cycle.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <table class="spentTable">
        <thead>
    			<tr>
    				<th class="party"></th>
    				<th class="candName"></th>
    				<th class="spent">Total spent</th>
    				<th class="dataBar"></th>
    			</tr>
        </thead>

        <tbody>
          <% let govSpent = _.sortBy(governor, g => parseFloat(g.spentDisplay || 0)).reverse(); %>
          <% _.each(govSpent, (g, i) => { %>
      			<tr class="<%= g.party %> <%= g.out === '1' ? 'out' : '' %> <%= i > 10 ? 'nest' : '' %>">
      				<td class="party"><span></span></td>
      				<td class="candName"><%= g.firstname %> <%= g.lastname %> <span></span></td>
      				<td class="spent">$<%= parseFloat(g.spentDisplay || 0).toLocaleString() %></td>
      				<td class="dataBar">
                <% let w = parseFloat(g.spentDisplay || 0) / parseFloat(govSpent[0].spentDisplay || 0) * 100 %>
                <span class="percentBar" style="width: <%= w %>%"></span>
              </td>
      			</tr>
          <% }) %>
        </tbody>
  		</table>

  		<div class="slideButton">
  			<button class="moreSpent"><span class="plus">+</span> Show more</button>
  			<button class="fewerSpent"><span class="minus">&minus;</span> Show fewer</button>
  		</div>

      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- /SPENT -->

    <!-- CASH -->

  	<section>
  		<h4>Johnson, Otto trail party leaders for cash</h4>
  		<p class="timestamp">April 17, 2018</p>
  		<p>Republican Jeff Johnson, a Hennepin County Board member who ran for this position in 2014, and State Auditor Rebecca Otto trail Tim Pawlenty and Tim Walz.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <table class="cashTable">
        <thead>
    			<tr>
    				<th class="party"></th>
    				<th class="candName"></th>
    				<th class="COH">Cash on hand</th>
    				<th class="dataBar"></th>
    			</tr>
        </thead>

        <tbody>
          <% let govCash = _.sortBy(governor, g => parseFloat(g.cashDisplay || 0)).reverse(); %>
          <% _.each(govCash, (g, i) => { %>
      			<tr class="<%= g.party %> <%= g.out === '1' ? 'out' : '' %> <%= i > 10 ? 'nest' : '' %>">
      				<td class="party"><span></span></td>
      				<td class="candName"><%= g.firstname %> <%= g.lastname %> <span></span></td>
      				<td class="COH">$<%= parseFloat(g.cashDisplay || 0).toLocaleString() %></td>
      				<td class="dataBar">
                <% let w = parseFloat(g.cashDisplay || 0) / parseFloat(govCash[0].cashDisplay || 0) * 100 %>
                <span class="percentBar" style="width: <%= w %>%"></span>
              </td>
      			</tr>
          <% }) %>
        </tbody>
  		</table>

  		<div class="slideButton">
  			<button class="moreCash"><span class="plus">+</span> Show more</button>
  			<button class="fewerCash"><span class="minus">&minus;</span> Show fewer</button>
  		</div>

      <div class="footnote">
        <p></p>
      </div>
  	</section>

    <!-- /CASH -->

    <!-- FOOTER/SOURCES -->
    <footer>
      <p>Fundraising and spending totals reflect money raised and spent in 2017 and 2018. Candidates who raised less than $1,000 during this cycle or did not have active campaigns in 2018 are not included.</p>
      <p>Source: <a href="https://cfb.mn.gov/reports-and-data/viewers/campaign-finance/districts-constitutional-offices/GOV/2018/">Minnesota Campaign Finance Board</a></p>
    </footer>
  </div>
</div>
