<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg headerCF">
  	<h5 class="font-popular-light"><span  class="font-popular-medium">Election 2018</span> Campaign Finance</h5>
  	<h1>Minnesota's open 1st district fundraising class is crowded</h1>
  	<p class="byline">By C.J. Sinner and Alan Palazzolo • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg mainCF">
    <!-- NAVIGATION -->
    <nav>
      <ul>
        <li><a href="http://www.startribune.com/478334513">GOVERNOR</a></li>
        <li><a href="http://www.startribune.com/478994853">U.S. SENATE</a></li>
        <li class="current"><a href="http://www.startribune.com/478994733">U.S. HOUSE</a></li>
      </ul>
    </nav>

    <!-- LEAD IN CHATTER -->
    <section>
      <p>Some lead in paragraph goes here.</p>
    </section>

    <!-- RAISED -->
  	<section>
  		<h4>Incumbents have a moneyed edge</h4>
  		<p class="timestamp">April 16, 2018</p>
  		<p>Most candidates challenging incumbents weren't actively raising money for much of 2017, so they are lagging behind. Similarly, those already in office tend to have a broader network of fundraising entities to pull from.</p>
      <p>Districts 1 and 8 have been deemed particularly competitive for the 2018 election.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <% _.each(_.groupBy(house, 'race'), houseRace => {%>
      <% let totalReceipts = _.sortBy(houseRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>

        <div class="eachDist">
      		<table class="raisedTable">
            <thead>
              <h5><%= houseRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="fundsRaised">Total raised</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceReceipts = _.sortBy(houseRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>
              <% _.each(raceReceipts, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 5 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
          				<td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
          				<td class="fundsRaised">$<%= parseFloat(r.raisedDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.raisedDisplay || 0) / parseFloat(totalReceipts[0].raisedDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <% if (raceReceipts.length > 5) { %>
        		<div class="slideButton">
        			<button class="moreRaised"><span class="plus">+</span> Show more</button>
        			<button class="fewerRaised"><span class="minus">&minus;</span> Show fewer</button>
        		</div>
          <% } %>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /RAISED -->

    <!-- SPENT -->
    <section>
  		<h4>House spending</h4>
  		<p class="timestamp">April 16, 2018</p>
  		<p>Spending ipsum dolor sin amet</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <% _.each(_.groupBy(house, 'race'), houseRace => {%>
      <% let totalSpent = _.sortBy(houseRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
        <div class="eachDist">

      		<table class="spentTable">
            <thead>
              <h5><%= houseRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="spent">Total spent</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceSpent = _.sortBy(houseRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
              <% _.each(raceSpent, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 5 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="spent">$<%= parseFloat(r.spentDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.spentDisplay || 0) / parseFloat(totalSpent[0].spentDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <% if (raceSpent.length > 5) { %>
        		<div class="slideButton">
        			<button class="moreSpent"><span class="plus">+</span> Show more</button>
        			<button class="fewerSpent"><span class="minus">&minus;</span> Show fewer</button>
        		</div>
          <% } %>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /SPENT -->

    <!-- CASH -->
  	<section>
  		<h4>Warchest size varies greatly</h4>
  		<p class="timestamp">April 16, 2018</p>
  		<p>In the open first district, Feehan and Hagedorn had nearly matching funds left to spend at the end of the year.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <% _.each(_.groupBy(house, 'race'), houseRace => {%>
      <% let totalCash = _.sortBy(houseRace, r => parseFloat(r.cashDisplay || 0)).reverse(); %>

        <div class="eachDist">

      		<table class="cashTable">
            <thead>
              <h5><%= houseRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="COH">Cash on hand</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceCash = _.sortBy(houseRace, r => parseFloat(r.cashDisplay || 0)).reverse(); %>
              <% _.each(raceCash, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 5 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="COH">$<%= parseFloat(r.cashDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.cashDisplay || 0) / parseFloat(totalCash[0].cashDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <% if (raceCash.length > 5) { %>
        		<div class="slideButton">
        			<button class="moreCash"><span class="plus">+</span> Show more</button>
        			<button class="fewerCash"><span class="minus">&minus;</span> Show fewer</button>
        		</div>
          <% } %>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /CASH -->

    <!-- FOOTER/SOURCES -->
    <footer>
      <p>Source: <a href="https://www.fec.gov/data/">U.S. Federal Election Commission</a></p>
    </footer>
  </div>
</div>
