<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg headerCF">
  	<h5 class="font-popular-light">Campaign Finance</h5>
  	<h1>In lead-up to primary, Minnesota's nationally-watched congressional races bring in millions</h1>
  	<p class="byline">By C.J. Sinner and Alan Palazzolo • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg mainCF">
    <!-- NAVIGATION -->
    <nav>
      <ul>
    		<li><a href="http://www.startribune.com/campaign-finance-2018-minnesota-governor-tim-walz-leads-money-race-tim-pawlenty-close-behind/478334513/">GOVERNOR</a></li>
        <li><a href="http://www.startribune.com/senate/478994853">U.S. SENATE</a></li>
    		<li class="current"><a href="http://www.startribune.com/campaign-finance-2018-minnesota-us-house-congressional-races-among-nations-most-competitive-already-draw-millions/478994733/">U.S. HOUSE</a></li>
      </ul>
    </nav>

    <!-- LEAD IN CHATTER -->
    <section class="leadin">
      <p>No state is home to more toss-up congressional races than Minnesota, according to <a href="https://www.cookpolitical.com/ratings/house-race-ratings">political</a> <a href="http://www.centerforpolitics.org/crystalball/2018-house">experts</a>, and fundraising in the state's four most competitive districts is already off to a blistering start. Districts 1, 2, 3 and 8 in particular are expected to be among the nation's most competitive — and expensive — races come November.</p>
      <p>Figures below reflect reports filed since Jan. 1, 2017. The next quarterly filing deadline is October 15, 2018.</p>
    </section>

    <!-- RAISED -->
  	<section>
  		<h4>Third District hits $6M mark</h4>
  		<p class="timestamp">July 17, 2018</p>
  		<p class="chat">The Third District, which encompasses the Hennepin County suburbs, is on pace to handily surpass the $7 million raised there in 2016. Meanwhile, fundraising in the suddenly-open Fifth is heating up, with Ilhan Omar emerging with a slight lead. In the Eighth, which includes Duluth and the Iron Range, Joseph Radinovich and Jason Metsa appear to be pulling away from the primary pack.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <% _.each(_.groupBy(house, 'race'), houseRace => {%>
      <% let totalReceipts = _.sortBy(houseRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>

        <div class="eachDist">
      		<table class="raisedTable">
            <thead>
              <h5><%= houseRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="fundsRaised">Total raised</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceReceipts = _.sortBy(houseRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>
              <% _.each(raceReceipts, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 6 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
          				<td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
          				<td class="fundsRaised">$<%= parseFloat(r.raisedDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.raisedDisplay || 0) / parseFloat(totalReceipts[0].raisedDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <% if (raceReceipts.length > 7) { %>
        		<div class="slideButton">
        			<button class="moreRaised"><span class="plus">+</span> Show more</button>
        			<button class="fewerRaised"><span class="minus">&minus;</span> Show fewer</button>
        		</div>
          <% } %>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /RAISED -->

    <!-- SPENT -->
    <section>
  		<h4>Spending close in First, Second, Third</h4>
  		<p class="timestamp">July 17, 2018</p>
  		<p class="chat">In the tight southern Minnesota and Hennepin County suburb races, spending has been neck-and-neck. Democrats Angie Craig and Dean Phillips have outspent their incumbent opponents so far, but in the open First, Jim Hagedorn has spent about $50,000 more than Democrat Daniel Feehan.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <% _.each(_.groupBy(house, 'race'), houseRace => {%>
      <% let totalSpent = _.sortBy(houseRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
        <div class="eachDist">

      		<table class="spentTable">
            <thead>
              <h5><%= houseRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="spent">Total spent</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceSpent = _.sortBy(houseRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
              <% _.each(raceSpent, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 6 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="spent">$<%= parseFloat(r.spentDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.spentDisplay || 0) / parseFloat(totalSpent[0].spentDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <% if (raceSpent.length > 7) { %>
        		<div class="slideButton">
        			<button class="moreSpent"><span class="plus">+</span> Show more</button>
        			<button class="fewerSpent"><span class="minus">&minus;</span> Show fewer</button>
        		</div>
          <% } %>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /SPENT -->

    <!-- CASH -->
  	<section>
  		<h4>Incumbents still hold cash advantage</h4>
  		<p class="timestamp">July 17, 2018</p>
  		<p class="chat">Though most incumbents have the larger war chests, Craig, in her bid for a rematch of 2016's close race, has surpassed Jason Lewis on this measure.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <% _.each(_.groupBy(house, 'race'), houseRace => {%>
      <% let totalCash = _.sortBy(houseRace, r => parseFloat(r.cashDisplay || 0)).reverse(); %>

        <div class="eachDist">

      		<table class="cashTable">
            <thead>
              <h5><%= houseRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="COH">Cash on hand</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceCash = _.sortBy(houseRace, r => parseFloat(r.cashDisplay || 0)).reverse(); %>
              <% _.each(raceCash, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 6 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="COH">$<%= parseFloat(r.cashDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.cashDisplay || 0) / parseFloat(totalCash[0].cashDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <% if (raceCash.length > 7) { %>
        		<div class="slideButton">
        			<button class="moreCash"><span class="plus">+</span> Show more</button>
        			<button class="fewerCash"><span class="minus">&minus;</span> Show fewer</button>
        		</div>
          <% } %>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /CASH -->

    <!-- FOOTER/SOURCES -->
    <footer>
      <p>Note: Fundraising and spending totals reflect money raised and spent in 2017 and 2018. Candidates who raised less than $1,000 during this cycle are not included.</p>
      <p>Source: <a href="https://www.fec.gov/data/">U.S. Federal Election Commission</a></p>
    </footer>
  </div>
</div>
