<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg headerCF">
  	<h5 class="font-popular-light"><span  class="font-popular-medium">Election 2018</span> Campaign Finance</h5>
  	<h1>Minnesota congressional races, among nation's most competitive, already draw millions</h1>
  	<p class="byline">By C.J. Sinner and Alan Palazzolo • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg mainCF">
    <!-- NAVIGATION -->
    <nav>
      <ul>
    		<li><a href="http://www.startribune.com/campaign-finance-2018-minnesota-governor-tim-walz-leads-money-race-tim-pawlenty-close-behind/478334513/">GOVERNOR</a></li>
<!--         <li><a href="http://www.startribune.com/478994853">U.S. SENATE</a></li>
 -->    		<li class="current"><a href="http://www.startribune.com/campaign-finance-2018-minnesota-us-house-congressional-races-among-nations-most-competitive-already-draw-millions/478994733/">U.S. HOUSE</a></li>
      </ul>
    </nav>

    <!-- LEAD IN CHATTER -->
    <section class="leadin">
      <p>No state is home to more toss-up congressional races than Minnesota, according to <a href="https://www.cookpolitical.com/ratings/house-race-ratings">political</a> <a href="http://www.centerforpolitics.org/crystalball/2018-house">experts</a>, and fundraising in the state's four most competitive districts is already off to a blistering start. Districts 1, 2, 3 and 8 in particular are expected to be among the nation's most watched — and expensive — races come November. Figures below reflect reports filed since Jan. 1, 2017.</p>
    </section>

    <!-- RAISED -->
  	<section>
  		<h4>Big money raised in the Third District</h4>
  		<p class="timestamp">April 18, 2018</p>
  		<p>It's only April, but the money race in the Third District, which encompasses the Hennepin County suburbs, is already on pace to match the $7 million raised there in 2016. The field is split in wide open districts like the Eighth, which includes Duluth, and the First, in southern Minnesota, where clear leaders have yet to emerge.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <% _.each(_.groupBy(house, 'race'), houseRace => {%>
      <% let totalReceipts = _.sortBy(houseRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>

        <div class="eachDist">
      		<table class="raisedTable">
            <thead>
              <h5><%= houseRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="fundsRaised">Total raised</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceReceipts = _.sortBy(houseRace, r => parseFloat(r.raisedDisplay || 0)).reverse(); %>
              <% _.each(raceReceipts, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 6 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
          				<td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
          				<td class="fundsRaised">$<%= parseFloat(r.raisedDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.raisedDisplay || 0) / parseFloat(totalReceipts[0].raisedDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <% if (raceReceipts.length > 7) { %>
        		<div class="slideButton">
        			<button class="moreRaised"><span class="plus">+</span> Show more</button>
        			<button class="fewerRaised"><span class="minus">&minus;</span> Show fewer</button>
        		</div>
          <% } %>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /RAISED -->

    <!-- SPENT -->
    <section>
  		<h4>Low spending in the crowded Eighth</h4>
  		<p class="timestamp">April 18, 2018</p>
  		<p>Without a clear DFL frontrunner or endorsement, spending in the northeast Minnesota district has been restrained from the left. Republican Pete Stauber, a St. Louis County commissioner, has spent more than twice as much as the DFL field combined.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <% _.each(_.groupBy(house, 'race'), houseRace => {%>
      <% let totalSpent = _.sortBy(houseRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
        <div class="eachDist">

      		<table class="spentTable">
            <thead>
              <h5><%= houseRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="spent">Total spent</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceSpent = _.sortBy(houseRace, r => parseFloat(r.spentDisplay || 0)).reverse(); %>
              <% _.each(raceSpent, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 6 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="spent">$<%= parseFloat(r.spentDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.spentDisplay || 0) / parseFloat(totalSpent[0].spentDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <% if (raceSpent.length > 7) { %>
        		<div class="slideButton">
        			<button class="moreSpent"><span class="plus">+</span> Show more</button>
        			<button class="fewerSpent"><span class="minus">&minus;</span> Show fewer</button>
        		</div>
          <% } %>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /SPENT -->

    <!-- CASH -->
  	<section>
  		<h4>Incumbents still hold cash advantage</h4>
  		<p class="timestamp">April 18, 2018</p>
  		<p>Incumbent Republican Reps. Jason Lewis and Erik Paulsen both hold cash advantages in the races to defend their seats. Paulsen is a Republican incumbent in the Third District, which Hillary Clinton carried by 9 points in 2016. Lewis was narrowly elected to his Second District seat in 2016 after defeating DFL candidate Angie Craig, who has nearly matched his cash holdings in her bid for a rematch.</p>
      <div class="key">
        <p><span class="keyTitle">Key:</span><span class="keyIn">(i) Incumbent</span><span class="keyOut"></span> Dropped out</p>
      </div>

      <% _.each(_.groupBy(house, 'race'), houseRace => {%>
      <% let totalCash = _.sortBy(houseRace, r => parseFloat(r.cashDisplay || 0)).reverse(); %>

        <div class="eachDist">

      		<table class="cashTable">
            <thead>
              <h5><%= houseRace[0].race %></h5>
        			<tr>
        				<th class="party"></th>
        				<th class="candName"></th>
        				<th class="COH">Cash on hand</th>
        				<th class="dataBar"></th>
        			</tr>
            </thead>

            <tbody>
              <% let raceCash = _.sortBy(houseRace, r => parseFloat(r.cashDisplay || 0)).reverse(); %>
              <% _.each(raceCash, (r, i) => { %>
          			<tr class="<%= r.party %> <%= r.out === "1" ? 'out' : '' %> <%= i > 6 ? 'nest' : '' %>">
          				<td class="party"><span></span></td>
                  <td class="candName"><%= r.firstname %> <%= r.lastname %>
                    <% if (r.incumbent === 'Y') { %>
                    <span>(i)</span>
                    <% } %>
                  </td>
                  <td class="COH">$<%= parseFloat(r.cashDisplay || 0).toLocaleString() %></td>
          				<td class="dataBar">
                    <% let w = parseFloat(r.cashDisplay || 0) / parseFloat(totalCash[0].cashDisplay || 0) * 100 %>
                    <span class="percentBar" style="width: <%= w %>%"></span>
                  </td>
          			</tr>
              <% }) %>
            </tbody>
      		</table>

          <% if (raceCash.length > 7) { %>
        		<div class="slideButton">
        			<button class="moreCash"><span class="plus">+</span> Show more</button>
        			<button class="fewerCash"><span class="minus">&minus;</span> Show fewer</button>
        		</div>
          <% } %>

          <div class="footnote">
            <p></p>
          </div>

        </div>
      <% }) %>
  	</section>

    <!-- /CASH -->

    <!-- FOOTER/SOURCES -->
    <footer>
      <p>Note: Fundraising and spending totals reflect money raised and spent in 2017 and 2018. Candidates who raised less than $1,000 during this cycle are not included.</p>
      <p>Source: <a href="https://www.fec.gov/data/">U.S. Federal Election Commission</a></p>
    </footer>
  </div>
</div>
