<!DOCTYPE html>
<html lang="en">
  <%
    let page = 'senate';
  %>
  <head>
    @@include('./_head.ejs.html')
  </head>

  <body class="">
    <!-- Main content here -->
    <main id="main-content" class="content" role="main">
      @@include('./_page-03-main.ejs.html')
    </main>

    <!-- Global/external scripts -->
    <% if (config.js && config.js.globals) { config.js.globals.forEach(function(s) { %>
      <script src="<%= s %>"></script>
    <% }); } %>

    <!-- Scripts -->
    <script src="./app.bundle.js"></script>
  </body>
</html>
